// @import "@a/scss/components/vue-recycle-scroller";
// @import "@a/scss/components/vue-multiselect";
// @import "@a/scss/components/vue-form-generator";
@import "@a/scss/components/LocaleList";
@import "@a/scss/components/RecordList";
@import "@a/scss/components/RecordEditor";
@import "@a/scss/components/RecordTable";
@import "@a/scss/components/ImageView";
@import "@a/scss/components/AttachmentView";
@import "@a/scss/components/DatetimePicker";
@import "@a/scss/components/Loading";
@import "@a/scss/components/JsonEditor";
@import "@a/scss/components/PluginPage.scss";
@import "@a/scss/components/MultiselectPage.scss";
@import "@a/scss/components/LoginApp.scss";
@import "@a/scss/components/Pager.scss";
@import "@a/scss/components/Notifications.scss";

html, body {
  height: 100%;
  width: 100%;
  overflow: hidden !important;
}
body {
  margin: 0px;
  padding: 0px;
  font-family: 'Helvetica Neue', Arial;
  color: #4f5f4f;
}

ul, li {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.cms-layout {
  display: flex;
  width: 100%;
  height: 100%;
      position: relative;
}

body {
  .theme--light.v-application {
    background: white;
    color: rgba(0, 0, 0, 0.87);
  }
  .theme--dark.v-application {
    background: #4e4e4e;
    color: rgba(255, 255, 255, 0.87);
    .buttons {
      background: #4e4e4e;
    }
    .node-cms-title {
      color: white;
    }
  }

  .theme--dark {
    .record-table {
      .locales {
        li {
          cursor: pointer;
          color: black;
          &.selected {
            color: white;
          }
        }
      }
      .table {
        .row  {
          .cell {
            color: white;
            input, textarea {
              color: white;
            }
          }
          &.header {
            .cell {
              color: #4f5f4f;
            }
          }
        }
      }
    }
    &.v-tabs> {
      .v-tabs-bar {
        .v-tab {
          max-width: 100%;
          color: black;
          transition: all 0.3s;
          &:not(.v-tab--active) {
            color: grey;
            background-color: lightgrey;
          }
        }
      }
    }
  }
  .theme-light {

  }
}
