@import "./variables.scss";
@import "./components/LocaleList";
@import "./components/RecordList";
@import "./components/RecordEditor";
@import "./components/RecordTable";
@import "./components/ImageView";
@import "./components/Loading";
@import "./components/JsonEditor";
@import "./components/PluginPage.scss";
@import "./components/MultiselectPage.scss";
@import "./components/LoginApp.scss";
@import "./components/Pager.scss";
@import "./components/Notifications.scss";

html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden !important;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: 'Helvetica Neue', Arial;
  color: #4f5f4f;
}

ul,
li {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.cms-layout {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
}

.v-application {
  .v-icon {
    min-width: auto;
  }

  .v-btn {
    letter-spacing: 0px;
  }

  .v-input--is-disabled {
    .v-input__prepend-outer {
      color: $imag-black;
    }
  }

  .v-messages__message {
    color: $imag-orange !important;
    @include error;
  }

  .v-chip {
    display: flex !important;
    align-items: center;
    .v-chip__content {
      line-height: 1;
    }
  }

  .v-text-field {
    input {
      padding: 0;
      padding-left: 16px;
    }
  }
  .v-field {
    background-color: $record-editor-background;
  }
  .v-field--active .v-label.v-field-label {
    visibility: visible;
  }
  .v-field__input {
    padding-top: 0px;
  }
  .v-field--rounded {
    border-radius: 8px;
  }
}

.v-overlay-container {
  .v-overlay {
    margin: 0;
  }
  >.v-menu {
    >.v-overlay__content {
      &.resources-menu, &.v-autocomplete__content {
        .v-list {
          border-radius: 0px 0px 8px 8px !important;
          @include blurred-background;
          transform: translate3d(0, 0, 0);
          display: flex;
          padding-left: 24px;
          flex-direction: column;
          align-items: flex-start;
          gap: 8px;
          .v-list-item {
            display: inline-block;
            @include cta-text;
            font-size: clamp(14px, 14px, vw(14px));
            font-weight: normal;
            font-style: normal;
            background-color: $navbar-resource-group-background;
            border-radius: 50px;
            min-height: 18px;
            height: 18px;
            padding: 0px 16px;
            .v-list-item-title {
              @include cta-text;
              font-style: normal;
              color: $navbar-resource-title-color;
              line-height: 18px;
            }
            .v-list-item__content {
              padding: 0;
            }
            &:before {
              border-radius: 50px;
              opacity: 1;
              background-color: $imag-blue !important;
              opacity: 0;
              z-index: -1;
            }
            &:hover {
              .v-list-item-title {
                color: $navbar-resource-title-color-hover;
              }
              &::before {
                opacity: 1;
              }
            }
            &.v-list-item--highlighted {
              font-weight: bold !important;
              background-color: $navbar-resource-group-background-selected;
              font-size: vw(14px) !important;
              .v-list-item-title {
                color: $navbar-resource-title-color-selected;
              }
              &:before {
                opacity: 0;
              }
            }
            &.selected, &.v-list-item--active {
              background-color: $navbar-resource-group-background-selected;
              .v-list-item-title {
                color: $navbar-resource-title-color-selected;
              }
            }
          }
        }
      }
    }
    >.v-overlay__content{
      &.resources-menu {
        max-height: 40vh !important;
        &.sidebar,
        &.full-width {
          .v-list {
            align-items: stretch;
          }
        }
        &.sidebar {
          left: 0 !important;
          min-width: 364px !important;

        }
      }
    }
  }

  .v-menu__content.v-autocomplete__content {
    margin-left: 16px;

    .v-ripple__container {
      display: none;
    }

    .v-list {
      border-radius: 0px 0px 8px 8px !important;
      @include blurred-background;
      transform: translate3d(0, 0, 0);
      display: flex;
      padding-left: 24px;
      flex-direction: column;
      align-items: flex-start;
      gap: 16px;
      gap: 0;

      .v-list-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 16px;
        @include cta-text;
        font-weight: normal;
        font-style: normal;
        min-height: 18px;
        height: 18px;
        padding: 4px;

        .checkbox {
          color: $navbar-resource-group-background-selected;
        }

        .label {
          display: inline-block;
          @include cta-text;
          font-weight: normal;
          font-style: normal;
          background-color: $navbar-resource-group-background;
          border-radius: 50px;
          min-height: 18px;
          padding: 4px 16px;

          &.selected {
            background-color: $navbar-resource-group-background-selected;
          }
        }

        .v-list-item__content {
          padding: 0;
        }

        &:before {
          border-radius: 50px;
          opacity: 1;
          background-color: transparent !important;
          opacity: 0;
          z-index: -1;
        }

        &:hover {
          .label {
            color: $navbar-resource-title-color-selected;
            background-color: $imag-blue;
          }

          &::before {
            opacity: 1;
          }
        }

        &.selected {
          background-color: $navbar-resource-group-background-selected;

          .v-list-item-title {
            color: $navbar-resource-title-color-selected;
          }
        }
      }
    }
  }

  .v-input--is-disabled {
    .v-input__prepend-outer {
      color: $imag-black;
    }
  }

  .v-messages__message {
    color: $imag-orange !important;
    @include error;
  }
}


body {
  .v-input {
    flex-direction: column;

    .v-input__slot,
    .v-input__prepend-outer {
      padding: 0 16px !important;
    }

    .v-input__prepend-outer {
      margin-top: 0 !important;
      @include subtext;
    }

    .v-input__slot {
      @include cta-text;
      font-weight: normal;
      min-height: 34px !important;

      &:before {
        display: none;
      }
    }

    input {
      &.focus {
        border: none !important;
        box-shadow: none !important;
      }
    }
  }

  .v-file-input {
    min-height: 80px;
    padding: 16px;
    padding-top: 8px;
    gap: 10px;
    border-radius: 8px !important;

    .v-input__slot {
      min-height: 80px !important;
    }

    .v-text-field__slot {
      align-items: center;
      justify-content: center;
    }

    .v-file-input__text {
      justify-content: center;
      cursor: pointer;
      @include h6;
      font-style: normal;
      color: $imag-black !important;
    }

    &.v-input--is-disabled {
      .v-file-input__text.v-file-input__text--placeholder {
        cursor: default;
      }

      .v-file-input__text {
        cursor: default;
        color: rgba(0, 0, 0, 0.38) !important;
        // color: $imag-grey !important;
      }
    }
  }

  .v-application {
    background: $layout-background;
    color: $layout-color;
  }

  .top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    border-bottom: 2px solid $locales-border-color;

    .locales,
    .buttons {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .buttons {
      gap: 16px;

      .delete {
        color: $btn-icon-color;
        // display: none;
      }

      .update {
        color: $btn-action-color;
        background-color: $btn-action-background;
        @include cta-text;
      }
    }
  }

  .record-editor,
  .multiselect-page,
  .record-table {
    background-color: $record-editor-inside-background;
    border-radius: 12px !important;
    margin: 16px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    position: relative;
    width: 100%;
    overflow: hidden;
  }

  .record-editor-form,
  .selected-records-list,
  #omnibar .scroll-wrapper {
    &:after {
      content: '';
      pointer-events: none;
      user-select: none;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 120px;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, white 100%);
      opacity: 1;
      transition: all 0.3s;
    }
  }

  .scroll-wrapper {
    overflow: auto;
    height: 100%;

    &.scrolled-to-bottom {

      .record-editor-form,
      .selected-records-list {
        &:after {
          opacity: 0;
        }
      }
    }
  }

  #omnibar {
    .scroll-wrapper {
      &.scrolled-to-bottom {
        &:after {
          opacity: 0;
        }
      }
    }
  }
  .v-input {
    &:not(.v-autocomplete):not(.v-textarea) {
      .v-field__input {
        height: 34px !important;
        min-height: 34px !important;
        max-height: 34px !important;
      }
    }
  }
  .search {
    background-color: $layout-card-background;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .v-input__slot,
    input {
      height: 34px !important;
      min-height: 34px !important;
      max-height: 34px !important;
    }

    input {
      width: calc(100% - 20px);
      margin: 0;
      padding: 10px;
      height: 19px;
      border: none;
      outline: none;
      line-height: 18px;
      display: block;
      // border-bottom: 1px solid #c7c7c7;
      background: transparent;
      cursor: pointer;
      transition: all .3s;
      // &:hover, &:focus {
      //   box-shadow: 0px 0px 3px 0px #eee inset;
      // }
    }

    .v-input__prepend-inner {
      height: 100% !important;
      align-items: center;
    }

    .search-bar {
      .v-input__slot {
        padding: 8px;
        @include cta-text;
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: flex-start;
        min-height: auto !important;
      }

      .v-input__prepend-inner,
      .v-input__icon,
      .v-icon {
        width: 18px !important;
        height: 100% !important;
        min-width: 18px !important;
        margin-top: 0 !important;
        font-size: 18px;
      }

      .v-icon {
        color: $search-icon-color !important;
      }

      input {
        height: 18px !important;
        padding: 0 !important;
        margin-left: 8px;
      }
    }

    &.is-query {
      &.is-valid {
        background: #f1ffee;
      }

      &.is-invalid {
        background: #ffeeee;
      }
    }
  }

  .record-list {
    .search {
      height: 66px;
    }

    .search-bar {
      margin: 16px;
    }
  }

  .resource-selector {
    cursor: pointer;
    padding: 0 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: $sidebar-resource-selector-height;
    background-color: $sidebar-resource-selector-background;
    color: $sidebar-resource-selector-color;
    transition: all 0.15s;

    .resource-title {
      @include h5;
      font-size: clamp(19px, 19px, vw(19px));
    }

    .v-icon {
      color: $sidebar-resource-selector-color;
    }

    &.opened {
      .v-icon {
        transform: rotate(180deg);
      }

      background-color: $sidebar-resource-selector-background-opened;
    }
  }

  .checkbox {
    background-color: $sidebar-records-list-checkbox-background;
    border: 2px solid $imag-light-grey;
    position: relative;
    width: 16px;
    height: 16px;

    .v-icon {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      color: $sidebar-records-list-checkbox-color;
      opacity: 0;
      transition: opacity 0.15s;

      &.displayed {
        opacity: 1;
      }
    }

  }

  .v-snackbar.notification {
    p {
      margin: 0;
      text-align: center;
      @include h6;
    }

    .v-snackbar__wrapper {
      @include blurred-background;
      margin-top: $navbar-height;
      padding: 0;
      color: $imag-black;
      .v-btn {
        background-color: transparent;
        color: $imag-black;
      }
    }

    &.notification-error {
      p {
        color: $notification-error-color;
      }
    }

    &.notification-success {
      p {
        color: $notification-success-color;
      }
    }
  }

  .v-select__slot {
    .v-input__append-inner {
      margin-top: 0 !important;
      height: 100%;
      display: flex;
      align-items: center;
    }
  }

  .v-select--chips.v-select--is-multi.v-autocomplete {
    input {
      max-height: 100%;
    }
  }

  .v-theme--dark {
    // background: #4e4e4e;
    color: rgba(255, 255, 255, 0.87);

    .search {
      background-color: transparent;
    }

    .record-list {
      .search {
        background-color: $imag-light-dark-purple;
        button {
          background-color: transparent;
        }
      }
    }
    .top-bar {
      .buttons {
        button {
          &.delete {
            background-color: transparent;
          }
        }
      }
    }

    .node-cms-title {
      color: white;
    }

    .v-text-field {
      caret-color: white !important;
    }

    .v-input {
      .v-input__prepend-outer {
        color: $imag-white;
      }

      &.v-input--is-disabled {
        .v-input__prepend-outer {
          color: $imag-grey;
        }
      }

    }

    .record-editor-form,
    .selected-records-list,
    #omnibar .scroll-wrapper {
      &:after {
        content: '';
        pointer-events: none;
        user-select: none;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 120px;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, black 100%);
        opacity: 1;
        transition: all 0.3s;
      }
    }

    .json-editor {
      div,
      tr {
        &[data-schematype=object] {
          background-color: $imag-darker-purple;
        }
      }

      button {
        color: white;
      }

      .json-editor-input-label,
      .je-header,
      .je-object__controls {
        color: $imag-white;
      }

      input[type=text],
      input[type=email],
      input[type=number],
      input[type=url],
      input[type=password],
      select,
      textarea {
        color: white;
        background-color: $record-editor-background;
        border: 1px solid $imag-grey;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
      }

      select option {
        background-color: $imag-darker-purple;
      }
    }
    &.v-snackbar {
      &.notification {
        .v-snackbar__wrapper {
          background-color: $imag-darker-purple;
          color: $imag-white;
        }
      }
    }

    .datetime-picker input[type='text'] {
      border: 1px solid white;
      border-radius: 4px;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
      color: white;
    }

    &.v-file-input {
      .v-file-input__text--placeholder {
        color: rgba(255, 255, 255, 0.7) !important;
      }
    }

    &.v-tabs> {
      .v-tabs-bar {
        .v-tab {
          max-width: 100%;
          color: black;
          transition: all 0.3s;

          &:not(.v-tab--active) {
            color: grey;
            background-color: lightgrey;
          }
        }
      }
    }
  }
}
