.attachment-view {
  >div>img {
    width: 200px;
    height: 140px;
    object-fit: contain;
  }
  .help-block {
    display: block;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAiklEQVR4Xt2TMQoCQQxF3xdhu72MpZU3GU/meBFLOztPYrVWsQmEWSaMsIXgK8P8RyYkMjO2sAN+K9gTIAmDAlzoUzE7p4IFytvDCQWJKSStYB2efcAvqZFM0BcstMx5naSDYFzfLhh/4SmRM+6Agw/xIX0tKEDFufeDNRUc4XqLRz3qabVIf3BMHwl6Ktexn3nmAAAAAElFTkSuQmCC");
    background-repeat: no-repeat;
    filter: grayscale(100%);
    padding-left: 17px;
    padding-top: 0;
    margin-top: .2em;
    font-weight: 600;
    color: gray;
    font-size: .8em;
  }
}
