.cropper {
  margin-top: 0px;

  &.cropper__image {
    opacity: 1;
  }
}

.cropper-stencil {
  &__preview {

    &:after,
    &:before {
      content: "";
      opacity: 0;
      transition: opacity 0.25s;
      position: absolute;
      pointer-events: none;
      z-index: 1;
    }

    &:after {
      border-left: solid 1px white;
      border-right: solid 1px white;
      width: 33%;
      height: 100%;
      transform: translateX(-50%);
      left: 50%;
      top: 0;
    }

    &:before {
      border-top: solid 1px white;
      border-bottom: solid 1px white;
      height: 33%;
      width: 100%;
      transform: translateY(-50%);
      top: 50%;
      left: 0;
    }
  }

  &--dragging {
    .cropper-stencil__preview {

      &:after,
      &:before {
        opacity: 0.4;
      }
    }
  }
}

.cropper-line {
  border-color: rgba(white, 0.8);
}

.cropper-handler {
  display: block;
  opacity: 0.7;
  position: relative;
  flex-shrink: 0;
  transition: opacity 0.5s;
  border: none;
  background: white;
  top: auto;
  left: auto;
  height: 4px;
  width: 4px;

  &--west-north,
  &--east-south,
  &--west-south,
  &--east-north {
    display: block;
    height: 16px;
    width: 16px;
    background: none;
  }

  &--west-north {
    border-left: solid 2px white;
    border-top: solid 2px white;
    top: calc(16px / 2 - 1px);
    left: calc(16px / 2 - 1px);
  }

  &--east-south {
    border-right: solid 2px white;
    border-bottom: solid 2px white;
    top: calc(-16px / 2 + 1px);
    left: calc(-16px / 2 + 1px);
  }

  &--west-south {
    border-left: solid 2px white;
    border-bottom: solid 2px white;
    top: calc(-16px / 2 + 1px);
    left: calc(16px / 2 - 1px);
  }

  &--east-north {
    border-right: solid 2px white;
    border-top: solid 2px white;
    top: calc(16px / 2 - 1px);
    left: calc(-16px / 2 + 1px);
  }

  &--hover {
    opacity: 1;
  }
}
