.image-view, .attachment-view {
  overflow: hidden;
  max-width: 600px;
  img.preview {
    width: 200px;
    height: 140px;
    object-fit: contain;
  }
  .help-block {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    filter: grayscale(100%);
    padding-left: 16px;
    padding-top: 0;
    margin-top: 3px;
    font-weight: 600;
    color: gray;
    font-size: 12px;
    line-height: 12px;
  }
  svg.icon-remove {
    // Seems crop plugin write css inline
    top: -12.5px !important;
    right: -12.5px !important;
    width: 25px;
    height: 25px;
    z-index: 100;
  }
  .label-wrapper {
    margin-bottom: 12px;
    label {
      font-size: 12px;
      line-height: 12px;
      padding-right: 12px;
    }
  }
  .filename {
    display: inline-block;
    margin: 6px 0;
  }
  .preview-multiple {
    padding-left: 1px;
  }
  .preview-multiple,
  .preview-single-attachment {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    padding-bottom: 6px;
    .filename {
      display: block;
    }
    .preview-attachment+.preview-attachment {
      margin-left: 6px;
    }
  }
  .preview-single-attachment {
    min-width: 230px;
    max-width: 230px;
    flex-direction: row;
    align-items: center;
    .preview {
      max-height: 100px;
    }
    .v-btn {
      margin-left: 6px;
    }
  }
  .preview-attachment {
    min-width: 230px;
    max-width: 230px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6px;
    user-select: none;

    img {
      max-height: 100px;
    }
    &.odd {
      background-color: rgba($color: #000000, $alpha: 0.2);
    }
  }
  .file-input-card {
    padding-top: 6px;
  }
  .row-handle {
    cursor: -webkit-grab;
    cursor: move;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      width: min-content;
    }
  }
  &.full-width {
    max-width: 100%;
  }
}

.form-group.error {
  .image-view .croppa-container{
    border: 1px solid red;
  }
}

