.record-list {
  min-width: 364px;
  max-width: 364px;
  overflow: auto;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  overflow: hidden;
  .vue-recycle-scroller__item-wrapper {
    top: 8px;
  }
  .delete-records,
  .select-all {
    padding: 0 !important;
    @include cta-text;
    text-transform: none;
    letter-spacing: normal;
    .v-icon,
    .btn__content {
      color: $sidebar-records-list-delete-icon-color;
    }
  }
  .record-list-top-bar {
    flex: auto 0 0;
    position: sticky;
    .search {
      padding: 16px;
      gap: 16px;
      .search-bar {
        margin: 0;
      }
    }
  }
  .new-record {
    color: $btn-icon-color !important;
    transition: background-color 0.15s, color 0.15s;
    &.active {
      background-color: $btn-action-background !important;
      color: $btn-action-color !important;
    }
  }
  .main {
    min-height: 24px;
    @include cta-text;
  }
  .meta {
    .id, .ts {
      @include subtext;
    }
    .id {
      font-style: normal;
    }
    .ts {
      user-select: none;
    }
  }
  .records, .records-top-bar {
    background-color: $sidebar-records-list-background;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 16px;
  }
  .records {
    margin: 0px;
    padding: 0px;
    flex: 100% 1 1;
    position: relative;
    background-color: $sidebar-records-list-background !important;
    .records-top-bar {
      .select-all {
        cursor: pointer;
      }
      .delete-records {
        .v-icon {
          color: red;
        }
      }
    }
    .checkbox {
      background-color: $sidebar-records-list-checkbox-background;
      border-radius: 4px;
      position: relative;
      margin-left: 16px;
      margin-right: 8px;
      width: 24px;
      height: 24px;
      .v-icon {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        color: $sidebar-records-list-checkbox-color;
        opacity: 0;
        transition: opacity 0.15s;
        &.displayed {
          opacity: 1;
        }
      }
      &:hover {
        background-color: rgba(255,255,255, 0.25);
      }
      &.blink-background {
        animation: blinkBackground 0.1s;
      }
    }
    .list {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
   .item {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      .item-info {
        flex-grow: 1;
        margin-right: 16px;
        min-height: 49px;
        padding: 8px 16px;
        border-radius: 8px;
        background-color: $sidebar-records-list-item-background;
        transition: background-color 0.15s;
        &:hover {
          background-color: $imag-blue;
        }
      }
      &.selected {
        .item-info {
          background-color: $sidebar-records-list-item-background-selected;
        }
      }

      &.frozen {
        .item-info {
          background-color: $sidebar-records-list-item-background-disabled;
        }
      }
   }
   .time-ago {
     padding: 4px;
    &:hover {
      border-radius: 100px;
      background-color: $imag-light-grey;
      color: $imag-black;
    }
   }
 }
  @keyframes blinkBackground {
    0% {
      background-color: white;
    }
    50% {
      background-color: rgba(255, 255, 255, 0.25);
    }
    100% {
      background-color: white;
    }
  }
}



