.record-table-wrapper {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
}

.record-table {
  flex: 1 1 0;
  overflow: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: calc(100% - 32px) !important;

  .top-bar {
    gap: 16px;
  }

  .search {
    width: 100%;
  }

  .pager {
    position: sticky;
  }

  .table {
    display: flex;
    overflow: auto;
    flex: 1 0 0;
    flex-direction: column;
    border-collapse: collapse;
    margin: 16px 10px;
    position: relative;
    min-width: 850px;
  }

  .ve-table {
    .ve-table-container {
      table.ve-table-content thead.ve-table-header tr.ve-table-header-tr th.ve-table-header-th {
        background-color: $table-header-background !important;
        color: $table-header-color !important;
        @include small-cta-text;
        font-style: normal;
        font-weight: 700 !important;

        .v-icon,
        .ve-table-sort {
          color: $table-header-color !important;
        }
        .v-icon {
          font-size: 16px;
        }
      }

      .ve-table-content-wrapper table.ve-table-content tbody.ve-table-body tr.ve-table-body-tr td.ve-table-body-td {
        @include subtext;
        font-style: normal;
      }
    }
  }

  tr.ve-table-body-tr {
    td {
      color: $table-row-odd-color;
      background-color: $table-row-odd-background !important;

      span {
        color: $table-row-odd-color;
      }
    }

    &:nth-child(2n + 1) {
      td {
        color: $table-row-even-color;
        background-color: $table-row-even-background !important;
        span {
          color: $table-row-even-color;
        }
      }
    }
  }

  .back {
    display: none;
    @include cta-text;
  }

  .new {
    background-color: $btn-action-background !important;
    color: $btn-action-color !important;
  }

  .delete-selected-records {
    background-color: $imag-orange !important;
    color: $btn-action-color !important;
  }

  .record-editor {
    margin: 0;
  }

  &.has-back-button {

    .back,
    .delete {
      display: inline-block;
    }
  }

  .ve-table-container {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  .v-table {
    background-color: $table-background;
    &.v-table--fixed-header > .v-table__wrapper > table > thead > tr > th {
      background-color: $table-background;
    }
  }
}
