.record-list {
  min-width: 364px;
  max-width: 364px;
  border-right: 1px solid #c7c7c7;
  overflow: auto;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  overflow: hidden;
  .top-bar {
    flex: auto 0 0;
    position: sticky;
  }

  .resource-selector {
    cursor: pointer;
    padding: 0 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: $sidebar-resource-selector-height;
    background-color: $sidebar-resource-selector-background;
    color: $sidebar-resource-selector-color;
    transition: all 0.15s;
    .resource-title {
      @include h5;
    }
    .v-icon {
      color: $sidebar-resource-selector-color;
    }
    &.opened {
      .v-icon {
        transform: rotate(180deg);
      }
      background-color: $sidebar-resource-selector-background-opened;
    }
  }

  .new-record {
    line-height: 40px;
    user-select: none;
    position: absolute;
    bottom: vw(32px);
    left: 50%;
    transform: translate(-50%, 0);
    background-color: $btn-action-background !important;
    color: $btn-action-color !important;
  }

  .search {
    display: flex;
    input {
      width: calc(100% - 20px);
      margin: 0;
      padding: 10px;
      height: 19px;
      border: none;
      outline: none;
      line-height: 18px;
      display: block;
      // border-bottom: 1px solid #c7c7c7;
      background: transparent;
      cursor: pointer;
      transition: all .3s;
      // &:hover, &:focus {
      //   box-shadow: 0px 0px 3px 0px #eee inset;
      // }
    }
    &.is-query {
      &.is-valid {
        background: #f1ffee;
      }
      &.is-invalid {
        background: #ffeeee;
      }
    }
  }
  .main {
    min-height: 24px
  }
  .meta {
    .id, .ts {
      @include subtext;
    }
    .id {
      font-style: normal;
    }
    .ts {
      user-select: none;
    }
  }
  .records, .records-top-bar {
    background-color: $sidebar-records-list-background;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 16px;
  }
  .records {
    margin: 0px;
    padding: 0px;
    flex: 100% 1 1;
    position: relative;
    .records-top-bar {
      .select-all {
        cursor: pointer;
      }
      .delete-records {
        .v-icon {
          color: red;
        }
      }
    }
    .checkbox {
      position: relative;
      margin-left: 16px;
      margin-right: 8px;
      width: 24px;
      height: 24px;
      .v-icon {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        color: $sidebar-records-list-checkbox-color;
        opacity: 0;
        transition: opacity 0.15s;
        &.displayed {
          opacity: 1;
        }
      }
    }
    .list {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
   .item {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      .item-info {
        flex-grow: 1;
        margin-right: 16px;
        min-height: 64px;
        padding: 4px;
        border-radius: 8px;
        background-color: $sidebar-records-list-item-background;
        transition: background-color 0.15s;
      }
      &.selected {
        .item-info {
          background-color: $sidebar-records-list-item-background-selected;
        }
      }

      &.frozen {
        .item-info {
          background-color: $sidebar-records-list-item-background-disabled;
        }
      }
   }
 }
}



