.record-list {
  min-width: 350px;
  max-width: 350px;
  border-right: 1px solid #c7c7c7;
  overflow: auto;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  overflow: hidden;
  .top-bar {
    flex: auto 0 0;
    position: sticky;
  }

  .search {
    input {
      width: calc(100% - 20px);
      margin: 0;
      padding: 10px;
      height: 19px;
      border: none;
      outline: none;
      line-height: 18px;
      display: block;
      border-bottom: 1px solid #c7c7c7;
      background: transparent;
      cursor: pointer;
      transition: all .3s;
      &:hover, &:focus {
        box-shadow: 0px 0px 3px 0px #eee inset;
      }
    }
    &.is-query {
      &.is-valid {
        background: #f1ffee;
      }
      &.is-invalid {
        background: #ffeeee;
      }
    }
  }
  .new {
    position: absolute;
    right: 0;
    top: 0;
    width: 38px;
    height: 40px;
    line-height: 35px;
    text-align: center;
    background: #f0f0f0;
    font-size: 24px;
    border-bottom: 1px solid #c7c7c7;
    color: #aaa;
    box-sizing: border-box;
    cursor: pointer;
    &:hover {
      color: #69f;
    }
    &:active {
      color: #f0f0f0;
      background: #69f;
    }
  }

  .records {
    margin: 0px;
    padding: 0px;
    flex: 100% 1 1;
    position: relative;

    .list {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
    .item {
      height: 80px;
      cursor: pointer;
      user-select: none;

      .id {
        user-select: all;
      }

      .icon {
        width: 16px;
        height: 16px;
        display: inline-block;
        background: #6af;
        box-shadow: 0px 0px 0px 1px #06d inset;
        border-radius: 2px;
        margin-right: 10px;
        position: relative;
        .serchable {
          display: grid;
          justify-content: center;
          align-items: center;
          color: white;
          opacity: 0.8;
          font-size: 12px;
          box-sizing: border-box;
          text-align: center;
          width: 100%;
          position: relative;
          height: 16px;
          ::before {
            color: white;
          }
          i.default::before {
            opacity: 0;
          }
        }
      }

      &:hover {
        background: #eff;
      }

      &.selected {
        background: #f1ffee;
        cursor: auto;
        color: #4c4c4c;

        .icon {
          background: #2ac12a;
          box-shadow: 0px 0px 0px 1px #008a00 inset;
        }
      }


      &.frozen {
        .icon {
          background: #b9b9b9;
          box-shadow: 0px 0px 0px 1px #777777 inset;
        }
      }

      .main {
        display: block;
        line-height: 18px;
        padding: 10px 0;
        margin: 0 20px;
        font-weight: bold;
        font-size: 14px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        min-height: 18px;
        border-bottom: 1px solid #f0f0f0;
      }
      .meta {
        padding: 10px 20px 9px 20px;
        line-height: 21px;
        font-size: 12px;
        color: #888;
        white-space: nowrap;
        border-bottom: 1px solid #f0f0f0;
      }
    }
  }
}



